<div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title"> Kategori Ekle</h3>
        </div>
        
        <form action="/category/" method="post" >
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Kategori Adı</label>
              <input type="text" name="name" class="form-control" placeholder="Kategori adı giriniz...">
            </div>   
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">Ekle</button>
          </div>
        </form>
      </div>
    </div>
    
  </div>