
    <!-- ad widget-->
    <div class="aside-widget text-center">
        <a href="#" style="display: inline-block;margin: auto;">
            <img class="img-responsive" src="/Home/./img/ad-3.jpg" alt="">
        </a>
    </div>
    <!-- /ad widget -->

    

    <!-- category widget -->
    <div class="aside-widget">
        <div class="section-title">
            <h2 class="title">Kategoriler</h2>
        </div>
        <div class="category-widget">
            <ul>
                <% categories.forEach(category => { %>
                    <li><a href=""><%-category.name%>  </a></li>
                <% }) %>
                
               
            </ul>
        </div>
    </div>
    <!-- /category widget -->

    <!-- newsletter widget -->
    <div class="aside-widget">
        <div class="section-title">
            <h2 class="title">Bülten</h2>
        </div>
        <div class="newsletter-widget">
            <form>
                <p>Bültenden haberdar olmak için kayıt olun.</p>
                <input class="input" name="newsletter" placeholder="Email hesabı giriniz...">
                <button class="primary-button">Kayıt Ol</button>
            </form>
        </div>
    </div>
    <!-- /newsletter widget -->

    <!-- post widget -->
   
    <!-- /post widget -->
